@import url(./base/reset.css);
@import url(./base/modern_normolize.css);
@import url(./base/variables.css);
@import url(./elements/headerIcons.css);
@import url(./elements/container.css);
@import url(./elements/headerComposition.css);
@import url(./elements/header.css);
@import url(./elements/slider.css);
@import url(./elements/newLine.css);

body{
    font-family: var(--Rounded_Mplus);
    color: var(--white);
 
}
header{
    position: relative;
    z-index: 0;
    background: var(--main_sky_bcg);
    height: 100vh;
    overflow: hidden;
}

/* my vitamins section */

.my-vitamins_section{
    background: #FFEBDA;
    color: var(--purple);
    padding-top: 50px;
 
}

.vitamins_wrapper{
    background-color: var(--white);
    border-radius: 75px 70px 40px 35px;
    padding: 45px 4px 53px 12px;
    text-align: center;
        box-shadow: var(--titleVolume);
        margin-bottom: 80px;
}

.vitamins_title{
    font-weight: 800;
    font-size: 52px;
    line-height: 60px;
    color: var(--carrot);
    margin-bottom: 11px;
}

.vitamins_part{
    color: var(--white);
    background-color: var(--carrot);
    border-radius: 26px;
    padding: 2px;
}

.vitamins-variants{
    font-size: 24px;
    font-weight: 800;
    line-height: 46px;
    text-align: start;     
}

.vitamins_description{
    text-align: start;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;

    margin-top: 16px;
    margin-bottom: 23px;
}

.vitamins_complex{
    border: 2px solid rgba(208, 124, 198, 0.3);
    border-radius: 20px;
    font-weight: 800;
    font-size: 16px;
    line-height: 15px;
}

.complex-part{
    font-weight: 800;
    font-size: 30px;
    line-height: 45px;
    vertical-align: middle;
}

.vitamins_tastes{
    text-align: start;
    display: flex;
    justify-content:start;
    align-items: start;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;

    margin-top: 20px;
    margin-bottom: 37px;
}

.vitamins_tastes h4{
    font-weight: 800;
    font-size: 18px;
    padding: 0 4px;
        
}

.vitamins_button{
    margin: 0 auto;
    color: var(--white);
}