/* Pseudo element after Logo */
.logo-icon::after{
    content: "";
    position: absolute;
    left:-10px;
    top: -25px;
    z-index:-1;

    width: 130px;
    height: 66.78px;
   
    background: var(--logoBackground);
    box-shadow: var(--light);
    border-radius: var(--mainLogoWrapper);
}
@media screen and (min-width:768px) {
    .logo-icon::after {
        top: -40px;
        left: -25px;
    width: 230px;
    height: 120px;
}}
/* Icons */
.logo-icon {
    position: relative;
    width: 110px;
    margin: 0 10px;
    height: 100%;

}
@media screen and (min-width:768px) {
    .logo-icon {
        width: 170px;
    }
}

.logo-icon :first-of-type{
    width: 100%;
    height: 100%;
}

.social-icons_list {
    display: flex;
}

.social-icons_list li:not(:last-child) {
    margin-right: 10px;
}
@media screen and (min-width:768px) {
    .social-icons_list li:not(:last-child) {
    margin-right: 30px;
    }
}

.social-icon_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    padding: 9px;
    border-radius: 20px;
    box-shadow: var(--light);
}
@media screen and (min-width:768px) {
    .social-icon_wrapper {
        height: 50px;
        width: 50px;
border-radius: 30px;

    }
}

.social-icon {
    height: 100%;
}

.inst {
    background: var(--instBcg);
}
.fb {
    background: var(--fbBcg);
}
.tel {
    background: var(--telBcg);
}
