/* Composition from fruits */
.grass-icon,
.cloud-left-icon,
.cloud-right-icon,
.friends-icon,
.tree-right,
.tree-left {
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
}

.grass-icon {
    bottom: 1px;
    z-index: -3;
    width: 100%;
    height: 138px;
    background-image: url(../../images/Trava.svg);
    background-position: center top;
}
@media screen and (min-width:768px) {
    .grass-icon {
    height: 285px;
    }
}

.cloud-left-icon {
    z-index: 2;
    top: 36px;
    left: -60px;
    width: 300px;
    height: 135px;
    background-image: url(../../images/cloud-left.svg);
    background-position: left;

    animation-name: slide;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    
}

.cloud-right-icon {
    z-index: 2;
    top: 277px;
    right: 0;
    width: 300px;
    height: 250px;
    background-image: url(../../images/cloud-right.svg);
    background-position: left bottom;

    animation-name: slide2;
    animation-duration: 45s;
    animation-iteration-count: infinite;
}

.friends-icon {
    z-index: -1;
    bottom: 65px;
    right: -50px;
    width: 100%;
    height: 285px;
    background-image: url(../../images/personajy.svg);
   
    background-position: left bottom;
}
@media screen and (min-width:768px) {
    .friends-icon {
        background-size: initial;
        bottom: 75px;
        right: -250px;
        height: 485px;
    }
}

.tree-right {
    z-index: -4;
    bottom: 100px;
    left: -30px;
    width: 150px;
    height: 155px;
    background-image: url(../../images/tree-left.svg);

}
@media screen and (min-width:768px) {
    .tree-right {
        bottom: 225px;
        width: 338px;
        height: 355px;
    }
}

.tree-left {
    z-index: -4;
    bottom: 100px;
    right: -30px;
    width: 150px;
    height: 200px;
    background-image: url(../../images/tree-right.svg);
}
@media screen and (min-width:768px) {
    .tree-left {
        bottom: 105px;
        width: 399px;
        height: 555px;
    }
}



/* animations */
@keyframes slide {

    0% {
        top: 5%;
    }

    50% {
        top: 10%;
    }

    100% {
        top: 5%
    }

}

@keyframes slide2 {

    0% {
        top: 30%;
    }

    50% {
        top: 20%;
    }

    75% {
        right: -5%;
    }

    100% {
        top: 30%
    }

}